body {background: rgba(0, 0, 0, 0.24);}
h1{position: center;
    width: 441px;
    height: 41px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 48px;
    line-height: 39px;
    text-align: center;
    
    color: #000000;}
h3{position: center;
    width: 653px;
    height: 147px;
    
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    
    color: #000000;
    }